
h3{ color: white;}
h5{ color: white;}
h2{ color: white;}
h4{ color: white;} 
body{ background-color:dimgray;}
img{ border-radius: 50%;} 
div{ text-shadow: black;}
table{ text-align: center;}
li{ color: white;}
